section.container.content-section.text-center(ng-controller="matchController")
	.row
		.col-xs-5.col-xs-offset-1
			.text-container
				div.circular
					img.img-responsive(ng-src='{{match.first_image}}')
					div.gradient
					p#text
						{{match.first_full_name}}
		.col-xs-5
			.text-container
				div.circular
					img.img-responsive(ng-src='{{match.second_image}}')
					p#text
						{{match.second_full_name}}
