header.intro
	.intro-body
		.row
			.col-xs-5.col-xs-offset-1
				img.img-responsive(src='./img/logo_banner.png', style='margin: 0 auto;')
		section#about.container.content-section.text-center
					.row
						.col-lg-8.col-lg-offset-2
							p Matchflare is a mobile app that lets you play matchmaker with your friends. 
		