div.container.content-section
	div.row
		div.col-xs-8.col-xs-offset-2.text-center
				h3
					b
						| Contact Matchflare:
				br
				| via email:
				h4 support@matchflare.com
				br
				| via phone: 
				h4 (609) 851-0053
			